<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="example-sidenav"
               [fixedInViewport]="true"
               [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="router.navigate(['login'], {relativeTo : activeRoute})">Login</a>
      <a mat-list-item (click)="router.navigate(['tasks'], {relativeTo : activeRoute})">Task list</a>
      <a mat-list-item>Register author</a>
      <a mat-list-item>Register reader</a>
      <a mat-list-item>Register beta reader</a>
      <a mat-list-item>Publish work</a>
      <a mat-list-item>Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content" [formGroup]="options">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
